* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    margin: 0 auto;
    padding: 20px;

    background-color: skyblue;
    border-radius: 10px;
    border: 5px solid gold;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.box *{
    margin: 5px 0 ;
}

input, button {
    padding: 10px;
    border: 2px solid silver;
    border-radius: 5px;
    outline: none;
}

button {
    cursor: pointer;
    transition: .4s;
}

button:hover {
    border: 2px solid gold;
    background-color: grey;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: aliceblue;
}

.grid div {
    margin: 10px;
    padding: 10px;
    background-color: deepskyblue;
    border-radius: 20px;
}

nav {
    height: 40px;
    background-color:  antiquewhite;
}

ul {
    background-color: red;
}